<div class="flex flex-col justify-center items-center mt-20">
  <div class="w-[500px] p-6 border-2 rounded-lg bg-slate-50 border-gray-600">
    <h1 class="font-semibold  text-5xl my-5">Team Generator</h1>
    <div class="w-full border-4 h-36 p-4 rounded border-blue-600 mb-4 bg-white overflow-scroll">
      <ul>
        <li *ngFor="let name of nameArray" class="mb-1">{{ name }}</li>
      </ul>
    </div>

    <div class="w-full border-2 mb-4 flex flex-col">
      <input
        #addMemberInput
        [value]="currentName"
        class="border-2 h-8 p-2 rounded"
        type="text" 
        placeholder="Name" 
        (input)="inputName(addMemberInput.value)"
        />
      <button 
        class="border-2 h-8 p-2 rounded bg-blue-900 text-white"
        (click)="(addName())"
        >
          Add
      </button>
    </div>

    <div class="w-full flex">
      <input
        #qtdMembers
        class="border-2 h-8 p-2 rounded w-1/2"
        type="number"
        (input)="inputNumTeams(qtdMembers.value)"
        placeholder="# of teams"/>
      <button 
        class="border-2 h-8 w-1/2 p-2 rounded bg-cyan-700 text-white"
        (click)="generateTeams()"
        >
          Generate
      </button>
    </div>

    <p *ngIf="errorMessage" class="text-red-500 mt-5">{{errorMessage}}</p>
  </div>
  <div *ngIf="teams.length > 0" class="w-[500px] p-6 border-2 rounded-lg bg-slate-50 border-gray-600 mt-5">
    <div *ngFor="let team of teams">
      <h1 class="text-2xl font-normal from-stone-800">Team #{{team.value}}</h1>
      <ul>
        <li *ngFor="let name of team.names">{{name}}</li>
      </ul>
    </div>
  </div>
</div>